table tr td { 
	border: 1px solid black;
	
}


table{ 
	width: 80%;
	margin: auto; 

} 
.titulo{ 
	font-family: "WDXL Lubrifont TC", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	color:#FF0000;

}
.img{
	display:black;
	border-radius: 20px;
	margin-left: auto;
	width: 200px;
	height: 150px;
	margin-right: auto;
	margin: auto;
}